train_input_path: "/workspace/data/ali_ccp_train_full.csv"
eval_input_path: "/workspace/data/ali_ccp_test_full.csv"
model_dir: "/workspace/ckpt/deepfm_ali_ccp_full_single_20251120_105747"
train_config {
  optimizer_config {
    use_moving_average: false
    adam_optimizer {
      learning_rate {
        exponential_decay_learning_rate {
          initial_learning_rate: 0.001
          decay_steps: 1000
          decay_factor: 0.9
          min_learning_rate: 0.0001
        }
      }
    }
  }
  num_steps: 10000
  log_step_count_steps: 100
  save_checkpoints_steps: 500
}
eval_config {
  metrics_set {
    auc {
    }
  }
}
data_config {
  batch_size: 1024
  label_fields: "label"
  num_epochs: 10
  prefetch_size: 32
  input_type: CSVInput
  separator: ","
  num_parallel_calls: 8
  input_fields {
    input_name: "label"
    input_type: INT32
  }
  input_fields {
    input_name: "user_id"
    input_type: STRING
  }
  input_fields {
    input_name: "item_id"
    input_type: STRING
  }
  input_fields {
    input_name: "f_301"
    input_type: STRING
  }
  input_fields {
    input_name: "f_205"
    input_type: STRING
  }
  input_fields {
    input_name: "f_206"
    input_type: STRING
  }
  input_fields {
    input_name: "f_207"
    input_type: STRING
  }
  input_fields {
    input_name: "f_210"
    input_type: STRING
  }
  with_header: true
}
feature_config {
  features {
    input_names: "user_id"
    feature_type: IdFeature
    embedding_dim: 16
    hash_bucket_size: 100000
  }
  features {
    input_names: "item_id"
    feature_type: IdFeature
    embedding_dim: 16
    hash_bucket_size: 100
  }
  features {
    input_names: "f_301"
    feature_type: IdFeature
    embedding_dim: 16
    hash_bucket_size: 10000
  }
  features {
    input_names: "f_205"
    feature_type: IdFeature
    embedding_dim: 16
    hash_bucket_size: 10000
  }
  features {
    input_names: "f_206"
    feature_type: IdFeature
    embedding_dim: 16
    hash_bucket_size: 10000
  }
  features {
    input_names: "f_207"
    feature_type: IdFeature
    embedding_dim: 16
    hash_bucket_size: 10000
  }
  features {
    input_names: "f_210"
    feature_type: IdFeature
    embedding_dim: 16
    hash_bucket_size: 10000
  }
}
model_config {
  model_class: "DeepFM"
  feature_groups {
    group_name: "wide"
    feature_names: "user_id"
    feature_names: "item_id"
    feature_names: "f_301"
    feature_names: "f_205"
    feature_names: "f_206"
    feature_names: "f_207"
    feature_names: "f_210"
    wide_deep: WIDE
  }
  feature_groups {
    group_name: "deep"
    feature_names: "user_id"
    feature_names: "item_id"
    feature_names: "f_301"
    feature_names: "f_205"
    feature_names: "f_206"
    feature_names: "f_207"
    feature_names: "f_210"
    wide_deep: DEEP
  }
  embedding_regularization: 1e-05
  deepfm {
    dnn {
      hidden_units: 128
      hidden_units: 64
      hidden_units: 32
    }
    final_dnn {
      hidden_units: 64
      hidden_units: 32
    }
    l2_regularization: 1e-05
  }
}
