train_input_path: "examples/data/ali_ccp/ali_ccp_train_full_dedup.csv"
eval_input_path: "examples/data/ali_ccp/ali_ccp_test_large.csv"
model_dir: "examples/ckpt/deepfm_ali_ccp_full_optimized"

train_config {
  log_step_count_steps: 100
  optimizer_config: {
    adam_optimizer: {
      learning_rate: {
        exponential_decay_learning_rate {
          initial_learning_rate: 0.001
          decay_steps: 1000
          decay_factor: 0.95
          min_learning_rate: 0.0001
        }
      }
    }
    use_moving_average: false
  }
  save_checkpoints_steps: 1000
  num_steps: 2383
}

eval_config {
  metrics_set: {
    auc {}
  }
}

data_config {
  input_fields {
    input_name:'label'
    input_type: INT32
  }
  input_fields {
    input_name:'user_id'
    input_type: STRING
  }
  input_fields {
    input_name: 'item_id'
    input_type: STRING
  }
  input_fields {
    input_name: 'f_301'
    input_type: STRING
  }
  input_fields {
    input_name: 'f_205'
    input_type: STRING
  }
  input_fields {
    input_name: 'f_206'
    input_type: STRING
  }
  input_fields {
    input_name: 'f_207'
    input_type: STRING
  }
  input_fields {
    input_name: 'f_210'
    input_type: STRING
  }

  label_fields: 'label'
  batch_size: 2048
  num_epochs: 1
  prefetch_size: 64
  input_type: CSVInput
  separator: ','
  with_header: true
  num_parallel_calls: 8
}

feature_config: {
  features: {
    input_names: 'user_id'
    feature_type: IdFeature
    embedding_dim: 64
    hash_bucket_size: 500000
  }
  features: {
    input_names: 'item_id'
    feature_type: IdFeature
    embedding_dim: 64
    hash_bucket_size: 200
  }
  features: {
    input_names: 'f_301'
    feature_type: IdFeature
    embedding_dim: 64
    hash_bucket_size: 50000
  }
  features: {
    input_names: 'f_205'
    feature_type: IdFeature
    embedding_dim: 64
    hash_bucket_size: 50000
  }
  features: {
    input_names: 'f_206'
    feature_type: IdFeature
    embedding_dim: 64
    hash_bucket_size: 50000
  }
  features: {
    input_names: 'f_207'
    feature_type: IdFeature
    embedding_dim: 64
    hash_bucket_size: 50000
  }
  features: {
    input_names: 'f_210'
    feature_type: IdFeature
    embedding_dim: 64
    hash_bucket_size: 50000
  }
}

model_config:{
  model_class: "DeepFM"
  feature_groups: {
    group_name: 'wide'
    feature_names: 'user_id'
    feature_names: 'item_id'
    feature_names: 'f_301'
    feature_names: 'f_205'
    feature_names: 'f_206'
    feature_names: 'f_207'
    feature_names: 'f_210'
    wide_deep: WIDE
  }
  feature_groups: {
    group_name: 'deep'
    feature_names: 'user_id'
    feature_names: 'item_id'
    feature_names: 'f_301'
    feature_names: 'f_205'
    feature_names: 'f_206'
    feature_names: 'f_207'
    feature_names: 'f_210'
    wide_deep: DEEP
  }
  deepfm {
    dnn {
      hidden_units: [256, 128, 64]
      dropout_ratio: [0.2, 0.2, 0.2]
    }
    final_dnn {
      hidden_units: [128, 64]
      dropout_ratio: [0.2, 0.2]
    }
    l2_regularization: 5e-6
  }
  embedding_regularization: 5e-6
}
